# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# C extensions
*.so


# Virtual environment
.env
.venv/
venv/

# VS Code
.vscode/
.idea/

# Python tooling
./mypy_cache/
./pytest_cache/